---
interface Props {
  titulo: string;
}

const { titulo} = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/lg-favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>{titulo}</title>
    <ViewTransitions/>
  </head>
  <body>
    <slot />
  </body>  
</html>
