---
import Contenedor from "../components/layout/Contenedor.astro";
import "../style/contenedor.css";
import Header from "../components/Header.astro";

---

<Contenedor titulo="Contactos">
    <Header titulo="¡Descubre como puedes contactar con Nosotros!" texto=""/>
    <main>

    </main>
</Contenedor>