---
import Contenedor from "../components/layout/Contenedor.astro";
import "../style/contenedor.css";
import Header from "../components/Header.astro";
import Comentario from "../components/secciones/Comentario.astro";
import Footer from "../components/Footer.astro";
import Direccion from "../components/Direccion.astro";
import Redes from "../components/secciones/Redes.astro";

---

<Contenedor titulo="Contactos">
    <Header titulo="¡Descubre como puedes contactar con Nosotros!" texto="¡Los Arquitectos del evento de tus Sueños!"/>
    <main>
        <Comentario/>
        <Redes/>
        <Direccion/>
    </main>
    <Footer/>
</Contenedor>