---
import Contenedor from "../components/layout/Contenedor.astro";
import "../style/contenedor.css";
import Header from "../components/Header.astro";
import Comentario from "../components/secciones/Comentario.astro";
import Footer from "../components/Footer.astro";
import Direccion from "../components/Direccion.astro";
import Redes from "../components/secciones/Redes.astro";
import BIniciarSesion from "../components/banners/BIniciarSesion.astro";
---

<Contenedor titulo="Contactos">
    <Header titulo="¡Descubre como puedes contactar con Nosotros!" texto="¡Los Arquitectos del evento de tus Sueños!"/>
    <main>
        <Redes/>
        <Direccion/>
        <BIniciarSesion/>
        <Comentario/>
    </main>
    <Footer/>
</Contenedor>