---
import "../style/servicios.css"
import Contenedor from "../components/layout/Contenedor.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---


<Contenedor titulo="Servicios">
    <Header titulo="!Descubre los Servicios que Ofrecemos¡" texto="Conoce los eventos y recursos que ofrecemos para tus actividades." />
    <main>

    </main>
    <Footer/>
</Contenedor>
