---
import "../style/servicios.css"
import Contenedor from "../components/layout/Contenedor.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Menu.astro"
---


<Contenedor titulo="Servicios">
    <Header titulo="!Descubre los Eventos y Servicios que Ofrecemos¡" texto="" />
    <main>

    </main>
    
</Contenedor>
