---
import TituloSeccion from "../TituloSeccion.astro"
---

<style>
    
</style>


<script>
    const emergente = document.querySelector(".emergente");
</script>

<section class="seccion">
    <TituloSeccion titulo="Eventos Disponibles"/>
    <section class="grilla">
        
    </section>
</section>