---
import Datos from "../../data/PreguntasFrecuentes.json"
import Pregunta from "../Pregunta.astro"
import TituloSeccion from "../TituloSeccion.astro"
---

<style>
    .grilla{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 820px)
    {
        .grilla{
        display:flex;
        flex-direction: column;
        gap: 10px;
    }
    }

</style>
<section class="seccion">
    <TituloSeccion titulo="Preguntas Frecuentes"/>
    <section class="grilla">
        {
            Datos.Frecuentes.map((Fr) => {
               return <Pregunta Titulo={Fr.Titulo} Descripcion={Fr.Respuesta} />
            })
        }
    </section>

</section>