---
import TituloSeccion from "../TituloSeccion.astro"
import HistoriaTemp from "../HistoriaTemp.astro";
import HistoriaData from "../../data/Historia.json";
---

<style>
    .grilla{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }

    @media (max-width:1024px) 
    {
        .grilla{
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media (max-width: 768px){
        .grilla{
            display: flex;
            flex-direction: column;
        }
    }
</style>

<section class="seccion">
    <TituloSeccion titulo="Historia de la Empresa"/>
    <section class="grilla">
        {
            HistoriaData.Historia.map((hs) => {
                return <HistoriaTemp texto={hs.texto} img={hs.img} nombre={hs.titulo} />
            })
        }
    </section>
</section>