@import url("basicos.css");

.seccion{
    padding-block: 50px;
    padding-inline: 80px;
    border-bottom: 3px solid var(--colorFuente)
}

.seccion:nth-child(even){
    background-color: var(--fondo);
    background: linear-gradient(90deg, rgba(87, 82, 140, 0.616) 4%, rgba(0,0,23) 49%, rgba(87, 82, 140, 0.541) 100%);
}

.seccion:nth-child(odd){
    background-color: var(--fondo3);
    background: linear-gradient(90deg, rgba(194, 44, 64, 0.39) 4%, rgba(29, 28, 46) 49%, rgba(194, 44, 64, 0.452) 100%);
}

@media (max-width: 1024px){
    .seccion{
        padding-inline: 60px;
    }
}

@media (max-width: 820px){
    .seccion{
        padding-inline: 30px;
    }
}

