---
import DatosIntegrantes from "../data/Integrantes.json"
import TempIntegrantes from "./TempIntegrantes.astro"
import TituloSeccion from "./TituloSeccion.astro"
---

<style>
    .grilla{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:30px;
    }
</style>

<section class="seccion">
    <TituloSeccion titulo="El Equipo"/>
    <section class="grilla">
        {
            DatosIntegrantes.Integrantes.map((In) =>{
                return <TempIntegrantes nombre={In.Nombre} imagen={In.Imagen} />
            })
        }
    </section>

</section>